.widget {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 150px;
}

.time {
  margin-bottom: 0.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.widget p {
  margin: 0;
  /* truncate elipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
